<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to web of books</title>
    <style>
      h1 {
        font-size: 50px ;
        font-family: Helvetica ;
        font-weight: Normal ;
        text-align: center;
      }
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
      h2 {
        font-size: 30px ;
        font-family: Roboto;
        text-align: left;
        font-weight: bold ;
      }
      p {
        font-family: Roboto;
      }
      #container {
        max-width: 720px;
        margin: 0 auto
      }
    </style>
  </head>
  <body>
    <div id="container">
      <hgroup>
      <h1>Web of books</h1>
      <p style="text-align:center"> Spark to life can be found in the simplest idea when you have hope!!!</p>
      </hgroup>
      <img id="banner" src="https://f6489ba4-7c06-4eae-ad4f-e4d3dbd81afb-00-2aagcey6h2yx1.sisko.replit.dev/static/banner.jpg">
      <h2>About,</h2>
      <p>Books are more than just pages bound together. They are gateways to wonder, comfort, and quiet magic. For book lovers, the rustle of a turning page feels like a familiar hug, and the scent of paper, old or new, stirs the soul like a beloved memory. Within each book lies an invitation to escape the noise of the world, to travel across time, to feel deeply, and to understand differently. Whether curled up on a rainy day or stealing moments between chores, books become faithful companions and its always waiting, never judging, ready to inspire. In a world that rushes, books remind us to slow down and feel.</p>
      <h2>List of books</h2>
      <p>to do books lists</p>
      <div style="text-align:center">
      <button>Contact us</button>
      </div>
    </div>
  </body>
</html>